{{ define "main" }}
<div class="k-page not-prose">
  <div class="k-prose-page" style="padding-left:0;padding-right:0;">
    <article>
      <h1>{{ .Title | emojify }}</h1>
      <div class="k-about">
        <div class="k-about-content prose dark:prose-invert">
          {{ .Content }}
        </div>
        <div>
          <img
            src="/img/about.jpg"
            alt="Brad Kreider"
            class="k-about-photo"
            loading="lazy">
        </div>
      </div>
    </article>
  </div>
</div>
{{ end }}
